# General
PORT=3001
NODE_ENV=development
SESSION_SECRET=secret
JWT_ACCESS_TOKEN_SECRET=secret
JWT_REFRESH_TOKEN_SECRET=secret
JWT_ACCESS_TOKEN_EXPIRATION_TIME=600
JWT_REFRESH_TOKEN_EXPIRATION_TIME=86400

DATABASE_URL=postgresql://root:root@localhost:5432/snipscribe?schema=public

SEED_ADMIN_USERNAME=admin
SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=change-me
